.app-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 30px;
}

.card {
  padding: 5px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(175, 160, 160);
  border-radius: .25rem;
  margin-top: 10px;
}